.top-navbar{
    background-color: black;
    color: white; 
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.navbar-ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 10px 0px 0px 0px;
}

.about-us{
    background-image: url(../Assets/dozer-aboutus.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-us h1{
    font-weight: bold;
    font-size: 50px;
}

.about-us p{
    margin-top: 20px;
    font-size: 17px ;
    
}

